@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: terminal;
    src: url("./assets/font/VT323-Regular.ttf");
}
html{
    
    height: 100%;
}
body{
    height: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(113,113,113,1) 35%, rgba(62,88,93,1) 100%);
    background-size:contain;
    background-repeat: no-repeat;
    overflow: hidden;
    margin: 0;
    padding: 0;
}